/* :: 4.0 Heading CSS */

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;

    h2 {
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 0;

        @media #{$breakpoint-md} {
            font-size: 30px;
        }

        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }

    &.white {
        h2 {
            color: $white;
        }
    }
}